@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.header {
  font-size: 70px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}
.user-container {
  height: 100dvh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.user-item {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(227, 227, 169);
  padding: 50px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 1px 2px 10px rgb(144, 141, 141);
  border: 0.4px solid rgb(137, 137, 137);
  z-index: 100;
}

.user-img > img {
  height: 150px;
  width: 150px;
}

.user-name > p {
  font-size: 40px;
  color: black;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
}

@media screen and (max-width: 350px) {
  .user-item {
    width: 150px;
  }

  .user-img > img {
    height: 120px;
    width: 120px;
  }

  .user-name > p {
    font-size: 30px;
  }
}
